body{
    text-align: center;
    background-color: #444;
    color:#fff;
    font-size: 1.4rem;
    font-family:'Agency FB';
    font-weight: 100;

    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    font-weight: 100;
    font-size:3rem; 
}

h2{
    font-weight: 300;
    font-size:1rem;
}

